<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Antibiotic Resistant Target Seeker</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

      <!-- DataTables -->
      <link rel="stylesheet" type="text/css" href="/static/js/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/dataTables.bootstrap.min.js"></script>
  </head>

  <body data-spy="scroll">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-main">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-xs" style="color:#FFFFFF" href="/index"><b>ARTS:</b> Antibiotic Resistant Target Seeker</a>
          <a class="navbar-brand visible-xs" style="color:#FFFFFF" href="/index"><b>A.R.T.S.</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ><a href="/analyze" style="color:#FFFFFF">Analyze</a></li>
            <li ><a href="/results" style="color:#FFFFFF">Results</a></li>
            <li><a href="/download" style="color:#FFFFFF">Download</a></li>
            <li><a href="/about" style="color:#FFFFFF">About</a></li>
            <li><a href="/help" style="color:#FFFFFF">Help</a></li>
         </ul>
        </div>
      </div>
    </nav>
    {% block mainbody %}{% endblock %}

    <footer class="footer">
        <img src="/static/images/unituebingen.png" height="30">
        <img src="/static/images/dzif.png" height="30">
    </footer>

  </body>
</html>
